services:
  mujoco-android:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile.android
    image: mujoco-android:latest
    volumes:
      - ..:/workspace
    working_dir: /workspace
    command: docker/build_android.sh
